In [20]:
import pandas as pd

data=pd.read_csv('..\Dataset\\food.csv')

data = data.set_index(data.index)
data.index.name = "ID"

data.head()

,Food_items,Breakfast,Lunch,Dinner,VegNovVeg,Calories,Fats,Proteins,Iron,Calcium,Sodium,Potassium,Carbohydrates,Fibre,VitaminD,Sugars
ID,,,,,,,,,,,,,,,,
0,Asparagus Cooked,0,1,1,0,22,0.2,2.4,0.91,23.0,14,224.0,4.1,2.0,0,1.3
1,Avocados,1,0,0,0,160,15.0,2.0,0.55,12.0,7,485.0,8.5,6.7,0,0.7
2,Bananas,1,0,0,0,89,0.3,1.1,0.26,5.0,1,358.0,23.0,2.6,0,12.0
3,Bagels made in wheat,0,1,1,0,250,1.5,10.0,2.76,20.0,439,165.0,49.0,4.1,0,6.1
4,Berries,1,0,0,0,349,0.4,14.0,6.80,190.0,298,77.0,77.0,13.0,0,46.0

In [21]:
breakfast=data.copy(deep=True)
lunch=data.copy(deep=True)
dinner=data.copy(deep=True)

In [22]:
breakfast.drop(breakfast.loc[breakfast['Breakfast']!=1].index, inplace=True,axis=0)
breakfast = breakfast.drop(['Food_items', 'Breakfast', 'Dinner', 'Lunch'],axis=1)
breakfast.head()

,VegNovVeg,Calories,Fats,Proteins,Iron,Calcium,Sodium,Potassium,Carbohydrates,Fibre,VitaminD,Sugars
ID,,,,,,,,,,,,
1,0,160,15.0,2.0,0.55,12.0,7,485.0,8.5,6.7,0,0.7
2,0,89,0.3,1.1,0.26,5.0,1,358.0,23.0,2.6,0,12.0
4,0,349,0.4,14.0,6.80,190.0,298,77.0,77.0,13.0,0,46.0
8,0,331,24.0,20.0,0.84,497.0,966,363.0,8.3,0.0,0,0.0
9,0,2,0.0,0.3,0.02,2.0,1,50.0,0.2,0.0,0,0.0

In [23]:
lunch.drop(lunch.loc[lunch['Lunch']!=1].index, inplace=True,axis=0)
lunch = lunch.drop(['Food_items', 'Breakfast', 'Dinner', 'Lunch'],axis=1)
lunch.head()

,VegNovVeg,Calories,Fats,Proteins,Iron,Calcium,Sodium,Potassium,Carbohydrates,Fibre,VitaminD,Sugars
ID,,,,,,,,,,,,
0,0,22,0.2,2.4,0.91,23.0,14,224.0,4.1,2.0,0,1.3
3,0,250,1.5,10.0,2.76,20.0,439,165.0,49.0,4.1,0,6.1
5,0,25,0.5,3.8,1.27,118.0,56,343.0,3.1,2.8,0,0.6
6,0,362,2.7,7.5,1.80,33.0,4,268.0,76.0,3.4,0,0.0
7,0,32,0.3,3.0,0.72,32.0,259,278.0,6.3,3.3,0,0.0

In [24]:
dinner.drop(dinner.loc[dinner['Dinner']!=1].index, inplace=True,axis=0)
dinner = dinner.drop(['Food_items', 'Breakfast', 'Dinner', 'Lunch'],axis=1)
dinner.head()

,VegNovVeg,Calories,Fats,Proteins,Iron,Calcium,Sodium,Potassium,Carbohydrates,Fibre,VitaminD,Sugars
ID,,,,,,,,,,,,
0,0,22,0.2,2.4,0.91,23.0,14,224.0,4.1,2.0,0,1.3
3,0,250,1.5,10.0,2.76,20.0,439,165.0,49.0,4.1,0,6.1
5,0,25,0.5,3.8,1.27,118.0,56,343.0,3.1,2.8,0,0.6
6,0,362,2.7,7.5,1.80,33.0,4,268.0,76.0,3.4,0,0.0
7,0,32,0.3,3.0,0.72,32.0,259,278.0,6.3,3.3,0,0.0

In [27]:
breakfast.to_csv('..\\Dataset\\Processed_dataset\\breakfast.csv', index_label="ID")
lunch.to_csv('..\\Dataset\\Processed_dataset\\lunch.csv', index_label="ID")
dinner.to_csv('..\\Dataset\\Processed_dataset\\dinner.csv', index_label="ID")